PORT=4003
MONGO_URI=mongodb://127.0.0.1:27017/eventia_reservations
CLIENT_SERVICE_URL=http://localhost:4001/api/clients
EQUIPMENT_SERVICE_URL=http://localhost:4002/api/equipments
NOTIFICATION_SERVICE_URL=http://localhost:4004/api/notifications
